.auth-container{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
gap:20px;
}

.auth-container form{
display:flex;
flex-direction:column;
gap:10px;
width:250px;
}

.auth-container input{
padding:10px;
border:none;
background:#1e293b;
color:white;
}

.auth-container button{
padding:10px;
background:#6366f1;
border:none;
color:white;
cursor:pointer;
}