.layout{
display:flex;
height:100vh;
}

.sidebar{
width:240px;
background:#020617;
padding:25px;
display:flex;
flex-direction:column;
}

.main{
flex:1;
display:flex;
flex-direction:column;
}

.content{
padding:30px;
flex:1;
overflow:auto;
}

.topbar{
height:60px;
display:flex;
align-items:center;
justify-content:space-between;
padding:0 20px;
border-bottom:1px solid #334155;
}

.search{
width:300px;
padding:8px;
background:#1e293b;
border:none;
color:white;
}

.upload{
background:#6366f1;
border:none;
padding:8px 16px;
color:white;
cursor:pointer;
border-radius:6px;
}